In [2]:
import pandas as pd
import numpy as np

In [3]:
path = '../Data/Chicago_Street_names.csv'

In [4]:
file = pd.read_csv(path, sep=r'\s*,\s*',header=0, encoding='ascii', engine='python')
file.head()

,Full Street Name,Direction,Street,Suffix,Suffix Direction,Min Address,Max Address
0,E 100TH PL,E,100TH,PL,NaN,1,1199
1,W 100TH PL,W,100TH,PL,NaN,300,2629
2,E 100TH ST,E,100TH,ST,NaN,1,4001
3,W 100TH ST,W,100TH,ST,NaN,1,2799
4,E 101ST PL,E,101ST,PL,NaN,1,699

In [5]:
street = file["Street"]
street.head()

0    100TH
1    100TH
2    100TH
3    100TH
4    101ST
Name: Street, dtype: object

In [11]:
len(street)

2582

In [16]:
street_list = street.unique()

In [10]:
len(street_list)

1666

In [17]:
df=pd.DataFrame(street_list)

In [20]:
df.to_csv('streets.csv', index=False, header=False)